.main-panel > .content {
  margin-top: 0px !important;
}

.card-title {
  display: inline;
}

.card-header {
  float: right;
}

.pagination .page-item a {
  color: #3f51b5;
}

.pagination .disabled a {
  color: #333;
}

.inline {
  display: inline;
}

.full-width {
  width: 100% !important;
}

.cust-icon {
  background: transparent;
  border: none;
}

.active-icon {
  color: #0099cc;
}

.custom-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ed7d31;
  color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 12px !important;
  display: inline-block !important;
  margin: 0px 0px !important;
}

-wrapper {
  float: right;
}

.custom-primary-btn {
  background-color: #ed7d31 !important;
}

.custom-table thead tr th {
  background-color: #ed7d31;
  color: #fff !important;
  border: 1px solid #fff !important;
  font-size: 12px;
}

.custom-table tbody tr:nth-child(odd) {
  background-color: #f8d7cc;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #fcece7;
}

.custom-table tbody td {
  border: 1px solid #fff !important;
  color: #333 !important;
  padding: 5px 11px !important;
}

.custom-table tbody td a {
  color: #333;
}

.tips-message {
  padding-bottom: 8px;
  display: block;
  color: #d22824;
}

.remove-padding-bottom {
  padding-bottom: 0px !important;
}

.indent-bottom {
  padding-bottom: 5px;
}

